# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

# Docker
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# IDE
.vscode/
.idea/